.workers-section{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    
}
.worker{
    padding: 10px;
    width: 100%;
    height: 50px;
    border: 1px dotted black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .name-surname{
        display: flex;
        gap: 4px;
    }
    .name, .surname{
        font-weight: bolder;
    }
    .box-label{
        font-size: 18px;
    }
}


